streamlit
PyMuPDF
pdfplumber
python-docx
python-pptx
openpyxl
pandas
easyocr
sentence-transformers
faiss-cpu
langchain
langchain-community
matplotlib
seaborn
requests
beautifulsoup4
fpdf2
Markdown
Pillow
docx2txt
langchain-text-splitters
openai
